<div class="modal fade" id="login" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Bejelentkezés</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/login" method="POST">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="signInEmail">Email</label>
                        <input type="email" id="signInEmail" name="email" class="form-control" placeholder="" />
                    </div>
                    <div class="form-group">
                        <label for="signInPassword">Jelszó</label>
                        <input type="password" id="signInPassword" name="password" class="form-control" placeholder="" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary btn-block">Bejelentkezés</button>
                </div>
            </form>
        </div>
    </div>
</div>