<div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Regisztráció</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <form action="/register" method="POST">
                  <div class="form-group">
                    <label for="email">*Email</label>
                    <input
                      type="email"
                      id="email"
                      name="email"
                      class="form-control"
                      placeholder="kovacs.janos@aut.bme.hu"
                      value="<%= typeof email != 'undefined' ? email : '' %>"
                    />
                  </div>
                  <div class="form-group">
                    <label for="password">*Jelszó</label>
                    <input
                      type="password"
                      id="password"
                      name="password"
                      class="form-control"
                      placeholder="Jelszó"
                    />
                  </div>
                  <button type="submit" class="btn btn-primary btn-block">
                    Regisztrálok
                  </button>
                  <span>(A *-gal jelölt mezők kitöltése kötelező)</span>
                </form>
            </div>
          </div>
        </div>
</div>